@inject IDeleteInventoryByIdUseCase DeleteInventoryByIdUseCase
@inject NavigationManager NavigationManager

@if (Inventory is not null)
{
    <tr>
        <td>@Inventory.InventoryName</td>
        <td>@Inventory.Quantity</td>
        <td>@Inventory.Price</td>
        <td>
            <a class="btn btn-primary"
               href="/editinventory/@Inventory.InventoryId">
                Edit
            </a>
        </td>
        <td>
            <EditForm Model="Inventory"
                      Enhance="true"
                      FormName="@($"form-delete-inventory-{Inventory.InventoryId}")"
                      OnValidSubmit="() => DeleteInventory(Inventory.InventoryId)">
                <button type="submit" class="btn btn-danger">Delete</button>
            </EditForm>
        </td>
    </tr>
}

@code {
    [Parameter]
    public Inventory? Inventory { get; set; }

    private async Task DeleteInventory(int inventoryId)
    {
        await DeleteInventoryByIdUseCase.ExecuteAsync(inventoryId);
        NavigationManager.Refresh();
    }
}
