@page "/produce"

@rendermode InteractiveServer

@inject IViewProductsByNameUseCases ViewProductsByNameUseCases
@inject IViewProductByProductIdUseCase ViewProductByIdUseCase
@inject IProduceProductUseCase ProduceProductUseCase

<h3>Produce Product</h3>
<br />

<EditForm Model="produceViewModel" OnValidSubmit="Produce">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="po">Production #</label>
        <InputText id="po" @bind-Value="produceViewModel.ProductionNumber" class="form-control" />
    </div>
    <br />
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <AutoCompleteComponent Label="Product to Purchase"
                                       SearchFunction="SearchProduct"
                                       OnItemSelected="HandleItemSelected"></AutoCompleteComponent>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <label for="qty">Quantity</label>
        <InputNumber id="qty" @bind-Value="produceViewModel.QuantityToProduce" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Purchase</button>
</EditForm>

@code {
    private ProduceViewModel produceViewModel = new ProduceViewModel();
    private Product? selectedProduct;

    private List<ItemViewModel>? SearchProduct(string name)
    {
        var list = ViewProductsByNameUseCases.ExecuteAsync(name).GetAwaiter().GetResult();
        if (list is null) return null;

        return list.Select(x => new ItemViewModel { Id = x.ProductId, Name = x.ProductName })?.ToList();
    }

    private async void HandleItemSelected(ItemViewModel item)
    {
        selectedProduct = await ViewProductByIdUseCase.ExecuteAsync(item.Id);

        this.produceViewModel.ProductId = item.Id;
        produceViewModel.Product = this.selectedProduct;
    }

    private async Task Produce()
    {
        await ProduceProductUseCase.ExecuteAsyn(
            this.produceViewModel.ProductionNumber,
            selectedProduct,
            this.produceViewModel.QuantityToProduce,
            "Frank"
            );

        this.produceViewModel = new ProduceViewModel();
        this.selectedProduct = null;
    }
}
